DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=

RTDB_URL=https://tvistv-default-rtdb.europe-west1.firebasedatabase.app
IMAGE_BUCKET=tvistv-wall

# Optional: restrict the commands to one channel
ALLOWED_CHANNEL_ID=
